<a href="https://colab.research.google.com/github/Nasrin-Akhtar/IITM_MLP_Machine_Learning_Practice/blob/main/notebook/MLP_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('/content/V5.csv')
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [4]:
prev=df.isnull().sum().sum()

**1.** How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
*Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data*

In [5]:
df=df.replace("?",pd.NA)

In [6]:
total=df.isnull().sum().sum()

In [7]:
unknown=total-prev
unknown

1823

2. What is the value present at the 692th indexed row and 0th indexed column in the data ?

In [8]:
df.iloc[692,0]

'2009-11-16'

3. What is the value present at the 546th indexed row and 7th indexed column in the data ?

In [9]:
df.iloc[546,7]

3

4. What are the unique values present in the Locality feature of the dataset?

In [10]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

5. Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

In [11]:
df.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

6. Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?

In [12]:
missing_value_per_row=df.isnull().sum(axis=1)
df1=df[missing_value_per_row<=2]
print('sample remaining :',len(df1))

sample remaining : 9917

7.
Drop all the samples(rows) with missing values in the original dataframe . How many samples remains after that ?

In [13]:
df2=df.dropna()
df2.shape

(5449, 12)

8. Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [14]:
even_indexed_rows=df.iloc[::2]
even_indexed_rows.iloc[0,3]

111440.0

9. Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [15]:
even_indexed_rows.iloc[332,3]

256200.0

10. Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter
  If it is a string don't write quotes in the solution.

In [16]:
odd_indexed_rows=df.iloc[1::2]
odd_indexed_rows.iloc[332,3]

352940.0

11. Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [17]:
odd_indexed_col=df.iloc[:, 1::2]
odd_indexed_col.iloc[100,5]

'West'

12. Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [18]:
even_indexed_rows_col=df.iloc[::2, ::2]
even_indexed_rows_col.iloc[255,3]

'Detached House'

13.
Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data

In [19]:
sorted_df=df.sort_values(by='Year',ascending= False)
recent_years=sorted_df['Year']=='2022'
len(recent_years)

10000

14. Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [29]:
df3=df[(df['num_rooms']==3) & (df['num_bathrooms']==3)]
print("Number of samples :", len(df3))

Number of samples : 2730

15. Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [28]:
df4=df[(df['num_rooms']==3) | (df['num_bathrooms']==3)]
print("Number of samples :", len(df4))

Number of samples : 8591

16. In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [27]:
df5=df[(df['Locality']=='Greenwich') & (df['Year']==2022) & (df['num_rooms']==3) & ((df['Face']=='North') | (df['Face']=='East'))]
print("Number of houses:", len(df5))

Number of houses: 42

17. Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [26]:
# Extract the month from the 'Date' column
df['Month'] = df['Date'].dt.month
# Count the number of samples corresponding to the month of August (month number 8)
num_samples_august = len(df[df['Month'] == 8])
print("Number of samples in the month of August:", num_samples_august)

Number of samples in the month of August: 1050

18. According to the data which Locality have highest average Sale Price?

In [35]:
new_df=df.groupby('Locality')['Sale Price'].mean()
new_df.idxmax()

'Greenwich'